{% extends 'myauth/base.html' %}
{% load cache %}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>User info:</h1>
    {% if user.is_authenticated %}
        {% cache 100 userinfo user.username %}
            <h2>Detail</h2>
            <p>Username: {{ user.username }}</p>
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
            <p>Bio: {{ user.profile.bio }}</p>
            <div>
                {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
                {% else %}
                No avatar
                {% endif %}
            </div>
        {% endcache %}
    {% endif %}
        <div>
            {% if user.is_staff or user == user.profile.user %}
            <form action="{% url 'myauth:about-me' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload avatar</button>
            </form>
        {% endif %}
        </div>
{% endblock %}