{% extends 'myauth/base.html' %}

{% block title %}
    About user {{ user.username }}
{% endblock %}

{% block body %}
    <h1>User {{ user.username }} info:</h1>
    {% if user.is_authenticated %}
        <h2>Detail</h2>
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Bio: {{ user.profile.bio }}</p>
        <div>
            {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
            {% else %}
            No avatar
            {% endif %}
        </div>
    {% endif %}
{% endblock %}