{% extends 'blogapp/base.html' %}

{% load i18n %}

{% block title %}
   Article List
{% endblock %}

{% block body %}
    <h1> Articles </h1>
    <div>
        {% if articles %}
            {% for article in  articles %}
            <li>
                <p>Title: {{ article.title }}</p>
                <p>Date: {{ article.pub_date }}</p>
                <p>Author: {{ article.author.name }}</p>
                <p>Category: {{ article.category.name }}</p>
                <p>Tags:
                    {% for tag in article.tags.all %}
                        {{ tag.name }}
                    {% endfor %}
                </p>
                <p>
                    <a href="{% url 'blogapp:articles' pk=article.pk %}">
                        View more
                    </a>
                </p>
            </li>
            {% endfor %}
        {% else %}
             <h3>No articles</h3>
        {% endif %}
    </div>

{% endblock %}