{% extends 'bookapp/base.html' %}

{% block title %}
    Order List
{% endblock %}

{% block body %}
    <h1> Orders: </h1>
    <div>
        {% for order in  orders %}
        <li>
                 Order by {{ order.user|capfirst }}
                <p> Delivery address: {{ order.delivery_address }} </p>
                <p> Created at {{ order.created_at }} </p>
                <p>Promocode:<code>  {{ order.promocode }} </code></p>
                <div>
                    Books in order:
                    <ul>
                        {% for book in order.books.all %}
                        <li>{{ book.name }} for ${{ book.price }}</li>
                        {% empty %}
                        <h3>No products yet</h3>
                        {% endfor %}
                    </ul>
                </div>
        </li>
        {% empty %}
      <h3>No orders yet</h3>
        {% endfor %}
    </div>
{% endblock %}