{% extends 'bookapp/base.html' %}

{% block title %}
    Order #{{ object.pk }}
{% endblock %}

{% block body %}
    <h1>Order by "<strong>{{ object.user }}</strong>"</h1>
    <div>
      Order by {{ object.user|capfirst }}
      <p> Delivery address: {{ object.delivery_address }} </p>
      <p> Created at {{ object.created_at }} </p>
      <p>Promocode:<code>  {{ object.promocode }} </code></p>
      <div>
              Books in order:
              <ul>
                  {% for book in object.books.all %}
                  <li>{{ book.name }} for ${{ book.price }}</li>
                  {% empty %}
                  <h3>No products yet</h3>
                  {% endfor %}
              </ul>
          </div>
        </li>
    </div>
    <div>
        <a href="{% url 'bookapp:order_update' pk=object.pk%}">Update order</a>
    </div>
    <div>
        <a href="{% url 'bookapp:order_delete' pk=object.pk%}">Delete order</a>
    </div>
    <div>
        <a href="{% url 'bookapp:orders_list' %}">Back to orders list</a>
    </div>
{% endblock %}