{% extends 'bookapp/base.html' %}

{% load cache %}

{% block title %}
    Order List by user: {{ owner.username }}
{% endblock %}

{% block body %}
    {% cache 300 orders  owner.pk%}
    <h1> Orders: </h1>
    <div>
        {% for order in  object_list %}
        <li>
                <p> Delivery address: {{ order.delivery_address }} </p>
                <p> Created at {{ order.created_at }} </p>
                <p>Promocode:<code>  {{ order.promocode }} </code></p>
                <div>
                    Books in order:
                    <ul>
                        {% for book in order.books.all %}
                        <li>{{ book.name }} for ${{ book.price }}</li>
                        {% empty %}
                        <h3>No products yet</h3>
                        {% endfor %}
                    </ul>
                </div>
        </li>
        {% empty %}
      <h3>У пользователя {{ owner.username }} ещё нет заказов</h3>
        {% endfor %}
    </div>
    {% endcache %}

{% endblock %}